.Contact {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  padding: 15px 15px 0;

  &_active {
    background-color: #f2faf2;
  }

  &-notActive {
    &:hover {
      background-color: #f9fdf9;
    }
  }

  &-Hr {
    overflow-y: scroll;

    width: 100%;
    margin: 15px 0 0;

    border-top: 1px solid #e5e4e4;

    &_active {
      border-top: 1px solid #f2fcf2;
    }
  }
}

.ContactData {
  &-Item {
    margin: 0;
  }
}

.Message {
  font-size: 14px;
  color: #3d3d3d;
  min-height: 20px;
}

.Title {
  font-size: 18px;
  font-weight: 300;
}
