.Header {
  width: 100%;
  height: 150px;

  &_mainPage {
    height: 80px;
  }

  &_invisible {
    display: none;
  }
}

.Logo {
  display: flex;
  gap: 5px;

  width: 800px;
  min-height: 39px;
  margin: 28px 28px auto;

  &-BrandName {
    color: #438a13 !important;
    vertical-align: center;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #fff !important;
    }
  }

  &_mainPage {
    margin-top: 15px;
  }
}

.WrapperLogoIcon {
  &-Img {
    width: 50px;
    height: 50px;
  }
}
